/* Algemene stijl voor het hele document */
body {
    background-image: url('fotos/bg.png');
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Stijl voor alle h1-elementen */
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

/* Stijl voor elementen met de class "game" */
.game {
    position: relative;
    width: auto;
    height: 100%;
}

/* Stijl voor elementen met de class "container" */
.container {
    position: relative;
    display: inline-block;
    top: 200px;
}


